*{
    font-family: 'Poppins', sans-serif;
}
.fa-solid{
    color: gold;
}
.fa-circle-chevron-left , .fa-circle-chevron-right{
    color: skyblue;
    font-size: 25px;
}
.social-icons a{
    color: white;
    font-size: 20px;
    margin: 0 10px;
}
@media screen and (max-width: 576px){
    img.d-block.w-100.opacity-75 {
        height: 500px;
    }
    .course-wrapper img {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
        object-position: center;
    }
}
